#list-randoms {
    list-style: none;
    padding: 50px;
}

.random-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}


#create {
    margin-top: 50px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.input {

    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
#randomButton {
    margin-top: 50px;
    background-color: green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
