:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-image: url(img/light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 4px;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;

    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    }
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .btn-mode {
    display: block;
    font-size: 20px;
    padding: 10px;
}
        .bg {
            background: url(img/dark.png) no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }
        
    
        .bg .namee {
            color: #fff;
            background : transparent;
            
            
        }
        .bg .song {
            background-color: #d1d0d0;
        }
    
        .bg .song .title {
            color: #666;
        }
        .bg .song .author {
            color :#333;
        }
    
        .bg .name-tg {
            color: #000;
        }
    
        .bg .btn-mode {
            color: #fff;
            text-shadow: 0 0 10px rgb(255, 255, 255);
        }
    
        .btn-mode:active {
            transition: all 0.5s ease-in-out;
            transform: scale(0.6);
        }
    
        .list {
            position: relative;
        }
    
      
 #volume-ms {
     transform: rotate(90deg);
     top: 85px;
     right: -54px;
     position: absolute;
     padding: 10px 0;
     display: none;

 }

 .btn-volume:hover {
     color: #ffffff;
 }

 .btn-volume:hover  #volume-ms {
     display: block;
 }


/* HEADER */

 .titlee {
    color: var(--primary-color);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

 .namee {
    color: var(--text-color);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {

    margin-top: 450px;

    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    margin-left: -12px;
    margin-right: -12px;

}

.song.active {
    background-color: var(--primary-color);
}

.song:active {

    opacity: 0.6;

    opacity: 0.8;

}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}